<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= movie.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <form action="/users/<%= user._id %>/movies/<%= movie._id %>?method=PUT" method="POST">
        <label for="name">Movie Title</label>
        <input type="text" name="name" id="name" value="<%= movie.name %>"/>

        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="<%= movie.genre %>"/>

        <label for="review">Review</label>
        <textarea name="review" id="review"><%= movie.review %></textarea>

        <label for="recommendation">Recommendation</label>
        <select id="recommendation" name="recommendation">
            <option value="recommended" <%= movie.recommendation === "recommended" ? "selected" : "" %>
                >
                Recommended
            </option>

            <option value="not-recommended" <%= movie.recommendation === "not-recommended" ? "selected" : "" %>
                >
                Not recommended
            </option>
        </select>

        <button type="submit">Edit</button>
    </form>

    <a href="/users/<%= user._id %>/movies/<%= movie._id %>">
        <button type="button">Go Back</button>
    </a>
    
</html>