<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= movie.name %></title>
    <link href="/css/edit.css" rel="stylesheet" type="text/css">

</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <img id="movie-details-bg" src="/css/images/movie-details-bg.png" alt="movie image">

    <div id="elements-container">

    <a href="/users/<%= user._id %>/movies/<%= movie._id %>">
        <button id="back-button" type="button">Go Back</button>
    </a>

    <form action="/users/<%= user._id %>/movies/<%= movie._id %>?_method=PUT" method="POST">
        <label for="name" id="movie-title">Movie Title</label>
        <input type="text" name="name" id="name" value="<%= movie.name %>"/>

        <label for="genre" id="genre">Genre</label>
        <select id="genre" name="genre">
            <option value="fantasy" <%= movie.genre === "fantasy" ? "selected" : "" %>
                >
                fantasy
            </option>

            <option value="romance" <%= movie.genre === "romance" ? "selected" : "" %>
                >
                romance
            </option>

            <option value="mystery" <%= movie.genre === "mystery" ? "selected" : "" %>
                >
                mystery
            </option>

            <option value="horror" <%= movie.genre === "horror" ? "selected" : "" %>
                >
                horror
            </option>

            <option value="horror" <%= movie.genre === "horror" ? "selected" : "" %>
                >
                horror
            </option>

            <option value="comedy" <%= movie.genre === "comedy" ? "selected" : "" %>
                >
                comedy
            </option>

            <option value="action" <%= movie.genre === "action" ? "selected" : "" %>
                >
                action
            </option>

            <option value="crime" <%= movie.genre === "crime" ? "selected" : "" %>
                >
                crime
            </option>

            <option value="adventure" <%= movie.genre === "adventure" ? "selected" : "" %>
                >
                adventure
            </option>

            <option value="science-fiction" <%= movie.genre === "science-fiction" ? "selected" : "" %>
                >
                science-fiction
            </option>

            <option value="fiction" <%= movie.genre === "fiction" ? "selected" : "" %>
                >
                fiction
            </option>

            <option value="musical" <%= movie.genre === "musical" ? "selected" : "" %>
                >
                musical
            </option>

            <option value="animation" <%= movie.genre === "animation" ? "selected" : "" %>
                >
                animation
            </option>

            <option value="other" <%= movie.genre === "other" ? "selected" : "" %>
                >
                other
            </option>
        </select>

        <label for="review" id="review">Review</label>
        <textarea name="review" id="review"><%= movie.review %></textarea>

        
        <button id="submit-button" type="submit">
            <img id="edit-button-image" src="/css/images/edit-button-image.png" alt="edit button icon">
        </button>
    </form>
</div>
</html>