<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
    <link href="/css/style3.css" rel="stylesheet" type="text/css">
</head>
<body>

  <img id="list-bg" src="/css/brave-movie.png" alt="movie image">

    <%- include('../partials/_navbar.ejs') %>

    <div id="elements-container">

      <a href="/users/<%=user._id%>/movies">
        <button id="back-button" type="button"></button>
    </a>

    <h1 id="list-title"><%= user.username %>'s <br>watchlist</br></h1>

  <div id="movies">
    <ul>
        <% movies.forEach((movie)=>{ %>
        <li>
          <a href="/users/<%= user._id %>/movies/<%= movie._id %>">
            <%= movie.name %> 
          </a>
        </li>
        <% }) %>
      </ul>

    </div>

    <a href="/users/<%=user._id%>/movies/new">
        <button id="add-button" type="button"></button>
    </a>

  </div>
</body>
</html>