<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.name %></title>
    <link href="/css/show.css" rel="stylesheet" type="text/css">
</head>
<body>

    <img id="movie-details-bg" src="/css/images/movie-details-bg.png" alt="movie image">

    <%- include('../partials/_navbar.ejs') %>

    <div id="elements-container">

        <a href="/users/<%=user._id%>/movies/list">
            <img id="back-button-image" src="/css/images/back-button.png" alt="back button">
        </a>

    <h1 id="movie-name"><%= movie.name %></h1>

    <% if (movie.genre) { %>
        <p id="movie-genre"><%= movie.genre %></p>
    <% } %>

    <% if (movie.review) { %>
        <p id="movie-review">Review</p>
        <p id="movie-review-details"><%= movie.review %></p>
    <% } %>

  <div id="action-buttons">
      <form action="/users/<%= user._id %>/movies/<%= movie._id %>/edit">
          <button id="edit-button" type="submit">
              <img id="edit-button-image" src="/css/images/edit-button-image.png" alt="edit button icon">
        </button>
      </form>
      
    <form action="/users/<%= user._id %>/movies/<%= movie._id %>?_method=DELETE" method="POST">
        <img id="delete-button-image" src="/css/images/delete-button-image.png" alt="delete button icon">
    </form>

  </div>


</div>
</body>
</html>